<tool name="CodeCoverage">  <version>0.7.1</version>  <date>2020-12-20</date>  <container>#.CodeCoverage</container>  <needs>    <script development="true">APLTreeUtils2</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Monitors which parts of an application got actually executed</desc>  <tags>apltree;code-coverage;test-framework;unit-tests;Windows;Linux;Mac-OS</tags>  <buildid>37</buildid>  <new>1</new></tool>
