<tool name="CodeCoverage">  <version>0.5.0</version>  <date>2020-07-14</date>  <container>#.CodeCoverage</container>  <needs>    <script development="true">APLTreeUtils</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Classe that can monitor which parts of an application got actually  executed</desc>  <tags>code-coverage;test-framework;unit-tests;Windows;Linux;Mac-OS</tags>  <buildid>6</buildid></tool>